.descriptionBlock {
    padding: 10px;
}

.photo {
    width: 350px;
}

.statusBlock {
    margin: 20px 0 30px;
}

.formBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 40%;
}

.formBlock div {
    width: 100%;
}

.profileCheckbox {
    display: flex;
}

.error {
    color: red;
}